#player {
    width: 20px;
    height: 20px;
    background: rgb(6, 165, 51);
    position: absolute; 
    border: 1px solid gray;
    

}

#gameArea {
    width: 600px;       
    height: 400px;   
    border: 3px solid black;
    background: lightgray;
    position: relative; 
    overflow: hidden;   
}
#score {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}


#pointBox {
    width: 8px;
    height: 8px;
    background: red;
    position: absolute;
    border-radius: 5px;
}




#enemyBox {
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
    border-radius: 1px;

}