body {
    padding: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    display:flex;
    justify-content: center;
}


#gameTitle{

    display:flex;
    justify-self: center;
}


#player {
    width: 20px;
    height: 20px;
    background: rgb(6, 165, 51);
    position: absolute; 
    border: 1px solid gray;
    

}

#gameArea {
    width: 600px;       
    height: 400px;   
    border: 3px solid black;
    background: lightgray;
    position: relative; 
    overflow: hidden;   
}
#score {
    font-size: 16px;
    font-weight: bold;
    color: rgb(235, 235, 235);
    margin-bottom: 10px;
}


#pointBox {
    width: 8px;
    height: 8px;
    background: red;
    position: absolute;
    border-radius: 5px;
}


#continueB {
    display: flex;
    justify-self: center;
}
#sandBoxB {
    display: flex;
    justify-self: center;
}
#restartB {
    display: flex;
    justify-self: center;
}


.enemy {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    border-radius: 1px;

}